body {
    background: #dfdfdf;
}

p {
    color: rgb(34, 34, 34);
}

.main-picture {
    width: 200px;
    border: 2px solid #ffffff; /* shorthand*/
    border-radius: 50%; /* will make the border be like a circle */
    /*
    border-width: 5px;
    border-style: solid;
    border-color: black;
    */
}