body {
    background: #dfdfdf;
}

p {
    color: rgb(34, 34, 34);
}

.main-picture {
    width: 200px;
    
    border: 2px solid #FFFFFF; /* shorthand */
    border-radius: 50%; /* will make the border be like a circle */
    margin: 30px; /* will make the margin of the picture, external spacing */
    padding: 10px; /* will make the padding of the picture, internal spacing */
}