body {
    background: #dfdfdf;
    font-family: 'Raleway', sans-serif;
    color: rgb(34, 34, 34);
}

.main-picture {
    width: 200px;
    
    border: 2px solid #ffffff; /* shorthand */
    border-radius: 50%; /* will make the border be like a circle */
    margin: 30px; /* will make the margin of the picture, external spacing */
    box-shadow: 0px 0px 10px #959595;
}

h1 {
    margin-bottom: 0; /* reset the margin bottom */
    letter-spacing: -1px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 50px;
}

h2 {
    margin-top: 0; /* reset the margin top */
    font-style: italic; /* changes the font to italic */
    color: rgb(73, 73, 73); /* changes the color of the text*/
    font-weight: 100; /* changes the weight of the text */
    letter-spacing: -1px; /* changes the spacing between the letters */
}
